
<link rel="stylesheet" href="/css/main-style.css">

<script src="https://kit.fontawesome.com/5eb8a8a2db.js" crossorigin="anonymous"></script>


<!-- 알림 관련 전역 변수 선언 -->
<script th:inline="javascript">
  
  // 현재 접속한 클라이언트가 로그인 상태인지 확인하는 변수
  // -> 알림은 로그인 한 회원만 받을 수 있다!!
  const notificationLoginCheck 
    = /*[[${session.loginMember} ? true : false]]*/ false;

  // 알림을 보낸 회원의 프로필 이미지가 없을 경우 사용할
  // 기본 이미지
  const notificationDefaultImage 
    = /*[[#{user.default.image}]]*/ '기본이미지';

</script>





<!-- 팝업 주석 -->
  <!-- <section class="popup-section">
      <div class="popup-overlay" id="popupOverlay"></div> -->
      <!-- 팝업창  매번 x 눌러야해서 주석처리 해야함-->
      <!-- <div class="popup" id="popup">
        <button class="close-btn" id="closePopup">X</button>
        <h2>공지사항</h2>
        <p>팝업창 내용</p>
        <img src="../../static/images/group.png" alt="팝업 이미지" style="width:100%;">
      </div>
    </section> -->
