<footer id="footer" class="foot_damoim">
    <div class="footer_copyright">
        <div class="inner_copyright">
            <div class="info_copyright">
                <div class="info_svc">
                    <a href="/policy#company-info">기업정보</a> 
                </div>
                <div class="info_svc">
                    <a href="/policy#terms">이용약관</a> 
                </div>
                <div class="info_svc">
                    <a href="/policy#privacy">개인정보 처리방침</a>
                </div>
                <div class="info_svc">
                    <a href="/policy#location">위치정보 이용약관</a> 
                </div>
                <small class="txt_copyright">
                    Copyright © <a href="/policy" class="link_daemoim">Daemoim Corp.</a> All rights reserved.
                </small>   
            </div>
            <div class="info_additional">
                <p>대표이사: 이나서 
            </div>
        </div>
    </div>
</footer>
