<header class="header">
  <section>
    <div class="top-row">
      <a href="/" style="font-family:'PartialSansKR-Regular'" class="logo">
        대모임 <!-- 로고 텍스트(로고를 png로 넣을지 글씨로 할지 고민) -->
      </a>

      <th:block th:unless="${session.loginMember}" class="login-search-wrapper">
        <a href="/category/category" class="headerSearchBtn">
          <i class="fa-solid fa-magnifying-glass"></i>
        </a>
        <div class="loginBtnBox">
          <a href="/signin" class="headerLoginBtn">로그인</a>
        </div>
      </th:block>

      <th:block th:if="${session.loginMember}" class="login-search-wrapper">
        <a href="/category/category" class="headerSearchBtn">
          <i class="fa-solid fa-magnifying-glass"></i>
        </a>
        [[${session.loginMember.memberNickname}]]
        
        <div class="loginBtnBox">
          <div class="notification-container">
            <button class="notification-btn fa-regular fa-bell" id="my-element">
              <div class="notification-count-area"></div>
            </button>
            <ul class="notification-list">
            </ul>
          </div>
        
          <a href="/myPage/info" class="headerLoginBtn">내정보</a>
          <a href="/logout" class="headerLoginBtn">로그아웃</a>
        </div>
      </th:block>

    </div>
  </section>

  <section>
    <div class="bottom-row">
      <nav class="categories">
        <!-- 각 카테고리를 클릭하면 category 페이지로 이동하면서, 카테고리 이름을 query parameter로 전달 -->
        <a href="/category/category?type=allCategory" class="category-btn" data-category="allCategory">
          <i class="fa-solid fa-bars"> 전체</i>
        </a>
        <a href="/category/category?type=activity" class="category-btn" data-category="activity">
          <i class="fa-solid fa-person-running"> 액티비티</i>
        </a>
        <a href="/category/category?type=culture" class="category-btn" data-category="culture">
          <i class="fa-solid fa-star"> 문화/여가</i>
        </a>
        <a href="/category/category?type=develop" class="category-btn" data-category="develop">
          <i class="fa-solid fa-book"> 자기계발</i>
        </a>
        <a href="/category/category?type=dating" class="category-btn" data-category="dating">
          <i class="fa-solid fa-heart"> 연애</i>
        </a>
        <a href="/board/boardPage" class="category-btn">
          <i class="fa-solid fa-plane">각 모임 게시판 가는 임시용</i>
        </a>
      </nav>
    </div>
  </section>
</header>

<!-- 팝업창 -->
<section class="popup-view display-non">
  <!-- 팝업창 내부 이미지 박스, position-absolute -->
  <div class="absoluteDiv">
    <!-- <div style="width: 300px; height: 300px; background-color: blue;">이미지 대체용</div> -->
    <img src="#" alt="popupImage" id="popupImage">
  </div>
  <!-- 하단 체크,닫기버튼 -->
  <form action="#" method="post" class="popup-underbar" id="popupCheckClose">
    <div>하루동안 보지않기 <input type="checkbox" name="aDayNoneView" id="popupCheck"></div>
    <button>닫기</button>
  </form>
</section>

<script src="/js/header.js"></script>
