<header class="header">
  <section>
    <div class="top-row">
      <a href="/" style="font-family:'PartialSansKR-Regular'" class="logo">
        대모임 <!-- 로고 텍스트(로고를 png로 넣을지 글씨로 할지 고민) -->
      </a>

      <div class="login-search-wrapper">
        <a href="/search/search" class="headerSearchBtn">
          <i class="fa-solid fa-magnifying-glass"></i>
        </a>
        <div class="loginBtnBox">
          <a href="/signin" class="headerLoginBtn">로그인</a>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="bottom-row">
      <nav class="categories">
        <!-- 각 카테고리를 클릭하면 category 페이지로 이동하면서, 카테고리 이름을 query parameter로 전달 -->
        <a href="/category/category?type=allCategory" class="category-btn" data-category="allCategory">
          <i class="fa-solid fa-bars"> 전체</i>
        </a>
        <a href="/category/category?type=activity" class="category-btn" data-category="activity">
          <i class="fa-solid fa-person-running"> 액티비티</i>
        </a>
        <a href="/category/category?type=culture" class="category-btn" data-category="culture">
          <i class="fa-solid fa-star"> 문화/여가</i>
        </a>
        <a href="/category/category?type=develop" class="category-btn" data-category="develop">
          <i class="fa-solid fa-book"> 자기계발</i>
        </a>
        <a href="/category/category?type=dating" class="category-btn" data-category="dating">
          <i class="fa-solid fa-heart"> 연애</i>
        </a>
        <a href="/board/boardPage" class="category-btn">
          <i class="fa-solid fa-plane">각 모임 게시판 가는 임시용</i>
        </a>
      </nav>
    </div>
  </section>
</header>
