<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title th:text="#{app.name}">messages.properties 값 출력</title>

  <link rel="stylesheet" href="/css/main-style.css/">
  
  <!-- templates/common/common.html 조각으로 추가 -->
  <th:block th:replace="~{common/common}"></th:block>
</head>
<body>

  <main class="main">

    <!-- common/header.html 을 조각으로 추가 -->
    <th:block th:replace="~{common/header}"></th:block>

    <section class="login-section">
      <form action="/signin">
        <fieldset>
          <div class="login-box">
            <div class="wrapLoginButton">
              <button class="mainLoginButton">로그인</button>
            </div>
            <hr>
            <article class="pwjoin">
              <a href="findIdPw" style="color: black; text-decoration: none; text-decoration-line: none;">아이디 비밀번호 찾기</a>
              <span> | </span>
              <a href="tacou" style="color: black; text-decoration: none; text-decoration-line: none;">회원가입</a>
            </article>
          </div>
        </fieldset>
      </form>
    </section>

    <!-- <section class="popup-section">
      <div class="popup-overlay" id="popupOverlay"></div> -->
      <!-- 팝업창  매번 x 눌러야해서 주석처리 해야함-->
      <!-- <div class="popup" id="popup">
        <button class="close-btn" id="closePopup">X</button>
        <h2>공지사항</h2>
        <p>팝업창 내용</p>
        <img src="../../static/images/group.png" alt="팝업 이미지" style="width:100%;">
      </div>
    </section> -->

     <!-- 로그인 전 추천 모임 보여주기 페이지 -->
     <th:block th:unless="${recommendedGroups != null && !#lists.isEmpty(recommendedGroups)}">
      <p>추천할 모임이 없습니다.</p>
    </th:block>
    
    <!-- 추천 모임 목록 출력 -->
    <th:block th:if="${recommendedGroups != null && !#lists.isEmpty(recommendedGroups)}">
        <section class="activity-section">
            <div class="category-container">
                <div class="category-box" th:each="group : ${recommendedGroups}">
                    <div class="icon">
                        <img th:src="${group != null && group.groupMainImg != null ? group.groupMainImg : '/images/default.png'}" alt="[[${group.groupName}]] 아이콘" />
                    </div>
                    <div class="details">
                        <a th:href="@{/groupMain/{groupName}(groupName=${group.groupName})}" class="activity-name" style="color: black; text-decoration: none; text-decoration-line: none;">[[${group.groupName}]]</a>
                        <div class="group-name">[[${group.groupIntroduce}]]</div>
                        <div class="location">카테고리: [[${group.categoryName}]]</div>
                        <div class="participants">
                            <i class="fa-solid fa-users"> &nbsp;</i>
                            <div>
                                [[${group.currentPopulation}]] / [[${group.maxPopulation}]]
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </th:block>
    <!-- 로그인 했을 시 가입한 목록 보여주기~ 추가 예정 -->

    <section class="scroll-top">
      <button id="scrollTopBtn"><i class="fa-solid fa-circle-chevron-up"></i></button>
    </section>

  </main>
  
  <script>
    document.getElementById('scrollTopBtn').addEventListener('click', function() {
      window.scrollTo({
        top: 0,
        behavior: 'smooth' 
      });
    });
    </script>

  <th:block th:replace="~{common/footer}"></th:block>

  <script src="../static/js/main.js"></script>

</body>
</html>
