<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로그인 페이지</title>
    <link rel="stylesheet" href="/css/signin/signin.css">
</head>
<body>
    <div class="login-container">
        <h1 class="login-title">로그인</h1>
        <form action="/login" id="signinform" method="POST" onsubmit="return validateForm()">
            <fieldset class="id-pw-area">
                <div class="input-group">
                    <label for="username">아이디</label>
                    <input type="text" name="memberId" required placeholder="아이디를 입력하세요">
                    <div>
                        <label>
                            <input type="checkbox" name="saveId">
                            아이디 저장
                        </label>
                    </div>
                </div>
                <div class="input-group">
                    <label for="password">비밀번호</label>
                    <input type="password" name="memberPw" required placeholder="비밀번호를 입력하세요">
                </div>
                <button type="submit">로그인</button>
                <a href="findIdPw">아이디/비밀번호 찾기</a>
            </fieldset>
        </form>
       
    </div>
    
   <!--  <div th:if="${alertMessage}">
        <script th:inline="javascript">
            alert([[${alertMessage}]]); 
        </script>
        </div> -->

        <script src="/js/signin/signin.js"></script>
</body>
</html>
