<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>${memberNickname} 님의 페이지</title>
  <link rel="stylesheet" href="/css/myPage/myPage-info.css">
</head>

<body>
  <section id="sideMenu"> 
  </section>
  <main class="profile-container">
    <h1 class="myPage-title">${memberNickname} 님의 페이지</h1>
      <div class="profile-image-area">
        <img th:with="user=#{user.default.image}" 
         th:text="${userInfo.memberIm}" id="memberIm" placeholder="자기소개 입력" name="memberIm"
         id="profileImg">
      </div>

      <div class="profile-btn-area">
        <label for="imageInput">이미지 선택</label>
        <input type="file" name="profileImg" id="imageInput" accept="image/*">
      </div>
    </form>
    <form action="info" method="POST" name="myPageFrm">
      <div class="myPage-row">
        <label for="memberNickname">닉네임</label>
        <input name="memberNickname" maxlength="10" id="memberNickname" th:text="${userInfo.memberNickname}">
      </div>

      <div class="profile-details">
        <div class="profile-introduce-section">
          <label for="memberIm">자기소개</label><br>
          <textarea th:text="${userInfo.memberIm}" id="memberIm" class="memberIm" placeholder="자기소개 입력" name="memberIm" rows="5" cols="30"></textarea>
        </div>
      </div>
      
  </main>

</body>

</html>
