<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>회원 탈퇴</title>
  <link rel="stylesheet" href="/css/myPage/myPage-withdrawal.css">
</head>

<body>
 
    <th:block th:replace="~{myPage/sideMenu}"></th:block>
 
    <section class="withdrawal-content">
    <h3>회원 탈퇴</h3>
  
    <form id="withdrawal"> <!-- post 방식과 action 추가해야함  -->
    <div>
      <iframe src="/myPage/withdrawalPage" width="65%" height="200px"></iframe>
      <input type="checkbox" name="agree" id="agree">
      <label for="agree">위 약관에 동의합니다.</label>
    </div>
    
        <div class="signup-box">
          <label for="memberEmail">
            <span class="required">*</span>아이디(이메일)
          </label>
          <div class="signUp-input-area">
            <label for="email-kind">
              <input type="text" name="memberEmail" id="memberEmail" placeholder="아이디(이메일)" maxlength="15"
                autocomplete="off" size="14">
              <span>@</span>
              <input type="text" id="email-kind" placeholder="" maxlength="15" autocomplete="off" size="14">
              <select id="email-type" name="email" onchange="changeEmail()">
                <option value="">직접입력</option>
                <option value="naver.com">naver.com</option>
                <option value="daum.com">daum.net</option>
                <option value="google.com">google.com</option>
                <option value="yahoo.com">yahoo.com</option>
                <button id="sendAuthKeyBtn" type="button">인증번호 받기</button>
              </select>
            </label>
          </div>
          <span class="signUp-message" id="emailMessage">메일을 받을 수 있는 이메일을 입력해주세요.</span>
          <label for="emailCheck">
            <span class="required"><br>*</span> 인증번호
          </label>
          <div class="signUp-input-area">
            <input type="text" name="authKey" id="authKey" placeholder="인증번호 입력" maxlength="6" autocomplete="off">
            <button id="checkAuthKeyBtn" type="button">인증하기</button>
          </div>
          <button id="withdrawalBtn">탈퇴하기</button>
        </div>
  </form>
    </section>
  <script src="/js/mypage/myPage-withdrawal.js"></script>
</body>

</html>