<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>회원 탈퇴</title>
  <link rel="stylesheet" href="/css/myPage/withdrawal.css">
</head>

<body>
<section id="sideMenu">
  <th:block th:replace="~{myPage/sideMenu}"></th:block>
</section>

<section class="withdrawal-content">
  <div class="withdrawalTitleName"><h3>회원 탈퇴</h3></div>

  <div class="withdrawal-frame">
    <div class="withdrawalIframBox">
      <iframe src="/myPage/withdrawalPage"></iframe>
    </div>
    <div class="agreement">
      <input type="checkbox" name="agree" id="agree">
      <label for="agree">위 약관에 동의합니다.</label>
    </div>
  </div>

  <div class="withdrawal-box">
    <form method="post" name="withdrawal" id="withdrawal">
      <div class="myPage-row">
        <label for="memberPw">비밀번호</label>
        <input type="password" name="memberPw" id="memberPw" maxlength="30">
      </div>

      <div class="withdrawalBtnbox">
        <button type="submit" class="withdrawalBtn">탈퇴하기</button>
      </div>
    </form>
  </div>
</section>
<th:block th:replace="~{common/footer}"></th:block>
<script src="/js/mypage/myPage-withdrawal.js"></script>
</body>

</html>
