<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>내정보 페이지</title>
  <link rel="stylesheet" href="/css/myPage/myPage-info.css">
</head>

<body>
  <section id="sideMenu"> 
    <th:block th:replace="~{myPage/sideMenu}"></th:block>
  </section>
  <main class="profile-container">
    <h1 class="myPage-title">프로필</h1>
    <span class="myPage-subject">프로필 이미지를 변경할 수 있습니다.</span>

    <form action="profile" method="POST" name="myPageImgFrm" id="profile" enctype="multipart/form-data">
      <div class="profile-image-area">
        <img th:with="user=#{user.default.image}" 
             th:src="${userInfo.memberImg ?: user}" 
             id="profileImg">
      </div>
      <span id="deleteImage">x</span>

      <div class="profile-btn-area">
        <label for="imageInput">이미지 선택</label>
        <input type="file" name="profileImg" id="imageInput" accept="image/*">
        <!-- 현재 로그인한 사용자와 URL의 memberNo가 일치할 때만 변경하기 버튼 표시 -->
        <button type="submit" th:if="${session.loginMember.memberNo == userInfo.memberNo}">변경하기</button>
      </div>
    </form>

    <!-- 닉네임과 자기소개 변경 양식 -->
    <form action="info" method="POST" name="myPageFrm">
      <div class="myPage-row">
        <label for="memberNickname">닉네임</label>
        <input type="text" name="memberNickname" maxlength="10" id="memberNickname" th:value="${userInfo.memberNickname}">
      </div>

      <div class="profile-details">
        <div class="profile-introduce-section">
          <label for="memberIm">자기소개</label><br>
          <input type="text" th:value="${userInfo.memberIm}" id="memberIm" placeholder="자기소개 입력" name="memberIm">
        </div>
        <!-- 변경 버튼도 동일하게 조건 추가 -->
        <button id="changeBtn" type="submit" th:if="${session.loginMember.memberNo == userInfo.memberNo}">변경</button>

      </div>
    </form>
  </main>

  <script src="/js/myPage/myPage-info.js"></script>
</body>

</html>
