<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>내정보 페이지</title>
  <link rel="stylesheet" href="/css/myPage/myPage-info.css">
</head>

<body>
 <section name="sideMenu"> 
  <th:block th:replace="~{myPage/sideMenu}"> </th:block>
 <!--  <h1 class="pageName" th:text="${session.userId == profile.userId ? '개인정보 수정' : profile.userName + '님의 프로필'}"></h1> -->
</section>
  <main class="profile-container">
    <form class="profile-form">
   
        <div class="daemoimMyImage">
          <div>
            <h2>이미지 (로고 넣을 공간)</h2>
            <div class="profile-image-section">
              <label for="profile-image">프로필 이미지</label>
              <input type="file" id="profile-image" accept="image/*">
            </div>
            <img src="" alt="이미지 없음">
          </div>
        </div>
 
    </div>
    <div class="profile-nickname-section">
      <label for="nickname">닉네임</label><br>
      <input type="text" id="nickname" placeholder="닉네임 입력">
    </div>
      <div class="profile-details">
        <div class="profile-intorduce-section">
          <label for="im">자기소개</label><br>
          <textarea name="im" id="im" rows="5" cols="33" placeholder="자기소개 하는칸"></textarea>
        <div>
        </div>  
          <button id="changeBtn" > 변경 </button>
        </div></p>
      </div>
    </form>
  </main>
</body>

</html>