<link rel="stylesheet" href="/css/myPage/sideMenu.css">
<section class="left-side" id="side-menu">

  <header>
    <div>
      <a href="/" class="logo"><img src="/images/mainHeader/logo.png"></a>
    </div>
     </header>

    <div class="sidebar">
      <a href="/myPage/info">내 정보</a>
      <a href="/myPage/myGroup">가입한 모임</a>
      <a href="/myPage/changePw">비밀번호 변경</a>
      <a href="/myPage/withdrawal">회원 탈퇴</a>
   </div>
</section>

<!--  <th:block th:if= "${session.loginMember?.memberNo}==${board.memberNo}">
        로그인회원과 세션에 로그인이 일치해야 띄워주는 코드  -->