html, body {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchBox {
  width: 300px; /* 원하는 너비 설정 */
  text-align: center; /* 내용 중앙 정렬 */
}

.searchBox form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.searchBox input, .searchBox button {
  margin: 10px 0;
  width: 100%; /* input과 button을 가로로 꽉 채움 */
}

.filter-icon {
  cursor: pointer;
  margin-top: 10px;
}

.dropdown {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}



/* 드롭다운 메뉴 활성화 시 */
.dropdown.active {
  display: block;
}

.filter-container {
  position: relative;
  margin-top: 10px;
}

.filter-icon {
  cursor: pointer;
}

.dropdown a {
  display: block;
  padding: 5px 10px;
  text-decoration: none;
  color: black;
}

.dropdown a:hover {
  background-color: #f1f1f1;
}

button[type="submit"] {
  margin-top: 10px; /* 검색 버튼과 검색창 사이의 간격 */
}