<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.kh.daemoim.groupMain.mapper.GroupMainMapper">

	<select id="getBoardList" resultType="Notice">
		SELECT BOARD_NO,
		BOARD_TITLE,
		BOARD_WRITE_DATE
		FROM BOARD

	</select>




	<select id="selectBoardList" resultType="Notice">
		SELECT BOARD_NO,
		BOARD_TITLE,
		BOARD_WRITE_DATE
		FROM BOARD
		WHERE BOARD_DEL_FL = 'N'
		ORDER BY BOARD_WRITE_DATE DESC




	</select>






</mapper>
