<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.kh.daemoim.groupManage.mapper.GroupMemberManageMapper">

	<!-- 회원 강퇴 -->
	<update id="deleteMember">
		UPDATE "MEMBER_GROUP"
		SET MEMBER_GROUP_BAN = 'Y',
			MEMBER_GROUP_DEL_FL = 'Y'
		WHERE
			MEMBER_NO = #{memberNo}
		AND GROUP_NO = #{groupNo}
	</update>

	<!-- 강퇴회원 복구 -->
	<update id="backupMember">
		UPDATE "MEMBER_GROUP"
		SET MEMBER_GROUP_BAN = 'N',
			MEMBER_GROUP_DEL_FL = 'N'
		WHERE
			MEMBER_NO = #{memberNo}
		AND GROUP_NO = #{groupNo}
	</update>
  
	<!-- 모임장 번호 확인 -->
	<select id="getLeaderNo" resultType="_int">
		SELECT MEMBER_NO
		FROM "GROUP"
		WHERE GROUP_NO = #{groupNo}
	</select>
	
	<!-- 회원 닉네임 검색 -->
	<select id="selectMemberNickname" resultType="string">
		SELECT MEMBER_NICKNAME
		FROM "MEMBER"
		WHERE MEMBER_NO = #{memberNo}
	</select>
	
	<!-- 회원가입 -->
	<insert id="insertMember">
		INSERT INTO "MEMBER_GROUP"
		VALUES(
			#{memberNo},
			#{groupNo},
			DEFAULT, DEFAULT, DEFAULT)
	</insert>
	
	<!-- 가입신청 지우기 -->
	<delete id="deleteInvite">
		DELETE FROM "INVITE"
		WHERE
			MEMBER_NO = #{memberNo}
		AND GROUP_NO = #{groupNo}
	</delete>
	
	<!-- 현재 모임인원 확인 -->
	<select id="checkPopulation" resultType="_int">
		SELECT COUNT(*)
		FROM MEMBER_GROUP MG
		JOIN "MEMBER" M ON (MG.MEMBER_NO = M.MEMBER_NO)
		WHERE
			MEMBER_DEL_FL = 'N'
		AND	MEMBER_OUT_FL = 'N'
		AND MG.GROUP_NO = #{groupNo}
		AND MG.MEMBER_GROUP_DEL_FL = 'N'
		AND MG.MEMBER_GROUP_BAN = 'N'
	</select>
	
	<!-- 이전가입내역 확인 -->
	<select id="searchMember" resultType="GroupMemberManageDto">
		SELECT 
			MEMBER_GROUP_BAN,
			MEMBER_GROUP_DEL_FL
		FROM "MEMBER_GROUP"
		WHERE
			MEMBER_NO = #{memberNo}
		AND GROUP_NO = #{groupNo}
	</select>
	
	<!-- 재가입인원 업데이드 -->
	<update id="updateMemberGroup">
		UPDATE "MEMBER_GROUP"
		SET MEMBER_GROUP_BAN = 'N',
			MEMBER_GROUP_DEL_FL = 'N'
		WHERE
			MEMBER_NO = #{memberNo}
		AND GROUP_NO = #{groupNo}
	</update>

</mapper>
