<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.kh.daemoim.groupManage.mapper.GroupManageMapper">

  <!-- 모임이름 중복검사 -->
  <select id="groupNameCheck" resultType="_int">
  SELECT COUNT(*)
  FROM "GROUP"
  WHERE GROUP_NAME = #{inputName}
  AND GROUP_NO > 0
  </select>

</mapper>
