<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper
	namespace="edu.kh.daemoim.groupMain.mapper.GroupMainMapper">

	<select id="getBoardList" resultType="Notice">
		SELECT BOARD_NO,
		BOARD_TITLE,
		BOARD_WRITE_DATE
		FROM BOARD
		WHERE BOARD_DEL_FL = 'N'
		ORDER BY
		BOARD_WRITE_DATE DESC
		FETCH FIRST 5 ROWS ONLY
	</select>




	<select id="selectBoardList" resultType="Notice">
		SELECT BOARD_NO,
		BOARD_TITLE,
		BOARD_WRITE_DATE
		FROM BOARD
		WHERE BOARD_DEL_FL = 'N'
		ORDER BY
		BOARD_WRITE_DATE DESC
		FETCH FIRST 5 ROWS ONLY
	</select>

	<select id="getPhotoBoxData" resultType="PhotoBox">
		SELECT BOARD

	</select>

	<select id="getPhotos" resultType="PhotoBox">
		SELECT
		BOARD_IMG_NO,
		BOARD_IMG_PATH,
		BOARD_IMG_ORIGINAL_NAME,
		BOARD_IMG_RENAME,
		BOARD_IMG_ORDER,
		BI.BOARD_NO,
		BOARD_IMG_PATH || BOARD_IMG_RENAME AS "FILE_LOCATION"

		FROM BOARD_IMG BI
		JOIN
		"BOARD" B ON (B.BOARD_NO = BI.BOARD_NO)

		WHERE
		B.GROUP_NO = #{groupNo}
	</select>




</mapper>
