<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.kh.daemoim.main.mapper.MainMapper">

  <!-- 추천 모임 조회 -->
  <select id="selectRecommendedGroups" resultType="MainDTO">
	  SELECT *
	  FROM(
	  SELECT 
	    g.GROUP_NO AS "groupNo",
	    g.GROUP_MAIN_IMG AS "groupMainImg", 
	    g.GROUP_NAME AS "groupName", 
	    g.GROUP_INTRODUCE AS "groupIntroduce", 
	    c.CATEGORY_NAME AS "categoryName",
	    COUNT(DISTINCT mg.MEMBER_NO) AS "currentPopulation",
	    g.GROUP_MAX_POPULATION AS "maxPopulation"
	  FROM 
	    "GROUP" g
	  JOIN 
	    MEMBER_GROUP mg ON g.GROUP_NO = mg.GROUP_NO
	  JOIN 
	    CATEGORY c ON g.CATEGORY_NO = c.CATEGORY_NO
	  WHERE 
	    mg.MEMBER_GROUP_BAN = 'N' 
	  AND mg.MEMBER_GROUP_DEL_FL = 'N'
	  AND g.GROUP_DEL_FL = 'N'
	  GROUP BY 
	    g.GROUP_NO, g.GROUP_MAIN_IMG, g.GROUP_NAME, g.GROUP_INTRODUCE, c.CATEGORY_NAME, g.GROUP_MAX_POPULATION
	  HAVING 
	    COUNT(DISTINCT mg.MEMBER_NO) / g.GROUP_MAX_POPULATION &lt; 1
	  ORDER BY 
	    g.GROUP_MAX_POPULATION / COUNT(mg.MEMBER_NO) ASC
	  ) 
	  WHERE ROWNUM &lt;= 9
	  
  </select>
  
  <!-- 최근 채팅한 모임 목록 조회 -->
  <select id="selectRecentChatGroups" resultType="MainDTO">
    SELECT *
    FROM (
    SELECT 
        g.GROUP_NO AS "groupNo",
        g.GROUP_MAIN_IMG AS "groupMainImg",
        g.GROUP_NAME AS "groupName",
        g.GROUP_INTRODUCE AS "groupIntroduce",
        c.CATEGORY_NAME AS "categoryName",
        COUNT(DISTINCT mg.MEMBER_NO) AS "currentPopulation",
        g.GROUP_MAX_POPULATION AS "maxPopulation",
        MAX(ch.CHAT_WRITE_DATE) AS "latestChatDate"
    FROM 
        "GROUP" g
    JOIN 
        MEMBER_GROUP mg ON g.GROUP_NO = mg.GROUP_NO
    JOIN 
        CATEGORY c ON g.CATEGORY_NO = c.CATEGORY_NO
    JOIN 
        CHAT ch ON g.GROUP_NO = ch.GROUP_NO
    WHERE 
        mg.MEMBER_GROUP_BAN = 'N' 
        AND mg.MEMBER_GROUP_DEL_FL = 'N'
        AND g.GROUP_DEL_FL = 'N'
    GROUP BY 
        g.GROUP_NO, g.GROUP_MAIN_IMG, g.GROUP_NAME, g.GROUP_INTRODUCE, c.CATEGORY_NAME, g.GROUP_MAX_POPULATION
    ORDER BY 
        MAX(ch.CHAT_WRITE_DATE) DESC
    )
    WHERE ROWNUM &lt;= 9
	</select>
  
  <!-- 로그인 한 회원 가입한 모임 조회 -->
  <select id="selectJoinGroups" resultType="MainDTO">
	 SELECT 
	 	g.GROUP_NO AS groupNo,
	    g.GROUP_MAIN_IMG AS groupMainImg, 
	    g.GROUP_NAME AS groupName, 
	    g.GROUP_INTRODUCE AS groupIntroduce, 
	    c.CATEGORY_NAME AS categoryName,  
	    g.GROUP_MAX_POPULATION AS maxPopulation,
	    (SELECT COUNT(DISTINCT mg2.MEMBER_NO)  
	     FROM MEMBER_GROUP mg2 
	     WHERE mg2.GROUP_NO = g.GROUP_NO 
	     AND mg2.MEMBER_GROUP_BAN = 'N' 
	     AND mg2.MEMBER_GROUP_DEL_FL = 'N') AS currentPopulation
	  FROM 
	    "GROUP" g
	  JOIN 
	    CATEGORY c ON g.CATEGORY_NO = c.CATEGORY_NO
	  WHERE 
	    g.GROUP_DEL_FL = 'N' 
	  AND EXISTS (SELECT 1 
	              FROM MEMBER_GROUP mg 
	              WHERE mg.GROUP_NO = g.GROUP_NO 
	              AND mg.MEMBER_NO = #{memberNo}
	              AND mg.MEMBER_GROUP_DEL_FL = 'N'
	              AND mg.MEMBER_GROUP_BAN = 'N')
	  GROUP BY 
	    g.GROUP_NO, g.GROUP_MAIN_IMG, g.GROUP_NAME, g.GROUP_INTRODUCE, c.CATEGORY_NAME, g.GROUP_MAX_POPULATION
	</select>
	
	<!-- 특정 GROUP_NO로 모임 상세 조회 -->
	<select id="selectGroupByNo" parameterType="int" resultType="MainDTO">
	    SELECT 
	        g.GROUP_NO AS groupNo, 
	        g.GROUP_MAIN_IMG AS groupMainImg, 
	        g.GROUP_NAME AS groupName, 
	        g.GROUP_INTRODUCE AS groupIntroduce, 
	        c.CATEGORY_NAME AS categoryName,
	        COUNT(DISTINCT mg.MEMBER_NO) AS currentPopulation,
	        g.GROUP_MAX_POPULATION AS maxPopulation
	    FROM 
	        "GROUP" g
	    JOIN 
	        MEMBER_GROUP mg ON g.GROUP_NO = mg.GROUP_NO
	    JOIN 
	        CATEGORY c ON g.CATEGORY_NO = c.CATEGORY_NO
	    WHERE 
	        g.GROUP_NO = #{groupNo}
	        AND mg.MEMBER_GROUP_BAN = 'N' 
	        AND mg.MEMBER_GROUP_DEL_FL = 'N'
	        AND g.GROUP_DEL_FL = 'N'
	    GROUP BY 
	        g.GROUP_NO, g.GROUP_MAIN_IMG, g.GROUP_NAME, g.GROUP_INTRODUCE, c.CATEGORY_NAME, g.GROUP_MAX_POPULATION
	 </select>


	<!-- 특정 그룹에 속한 회원들의 프로필 이미지 조회 -->
	<select id="selectMemberImagesByGroupNo" resultType="MyPage">
	    SELECT *
	    FROM
	    (SELECT 
	        m.MEMBER_NO AS memberNo,
	        m.MEMBER_IMG AS memberImg,
	        mg.GROUP_NO AS groupNo
	    FROM 
	        MEMBER m
	    JOIN 
	        MEMBER_GROUP mg ON m.MEMBER_NO = mg.MEMBER_NO
	    WHERE 
	        mg.GROUP_NO = #{groupNo}
	        AND mg.MEMBER_GROUP_BAN = 'N'
	        AND mg.MEMBER_GROUP_DEL_FL = 'N'
	        
		)	   WHERE ROWNUM &lt;= 8
	</select>


</mapper>
