<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.kh.daemoim.myPage.mapper.MyPageMapper">


	<update id="updateMember" >
		UPDATE
			MEMBER
		SET
			MEMBER_NICKNAME = #{memberNickname},
			MEMBER_IM = #{memberIm}
		WHERE
			MEMBER_NO =#{memberNo}
		</update>

	<update id="withdrawal">
		UPDATE
			"MEMBER"
		SET
			MEMBER_DEL_FL = 'Y'
		WHERE
			MEMBER_NO = #{memberNo}
	
	</update>

	<select id="checkNickname" resultType="_int">
		SELECT COUNT(*)
		FROM "MEMBER"
		WHERE  MEMBER_NICKNAME = #{input}
	</select>
	
	
		<!-- 비밀번호 변경 -->
	<update id="changePw">
		UPDATE "MEMBER"
		SET
			MEMBER_PW = #{encPw}
		WHERE
			MEMBER_NO = #{memberNo}
	</update>
	
	<update id="profile">
		UPDATE "MEMBER"
		SET
			MEMBER_IMG = #{url}
		WHERE
			MEMBER_NO = #{memberNo}
	</update>
	
	 <select id="selectMemberByNo" resultType="edu.kh.daemoim.myPage.dto.MyPage" parameterType="int">
        SELECT MEMBER_NO AS memberNo,
               MEMBER_ID AS memberId,
               MEMBER_NICKNAME AS memberNickname,
               MEMBER_IM AS memberIm,
               MEMBER_IMG AS memberImg
        FROM MEMBER
        WHERE MEMBER_NO = #{memberNo}
    </select>
    
	
</mapper>
