<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.kh.daemoim.report.mapper.ReportMapper">

	<insert id="insertReport">
		INSERT INTO REPORT
		VALUES(#{memberNo}, DEFAULT, #{reportDetail}, #{reportNo}, DEFAULT, SEQ_REPORT_NO.NEXTVAL)
	</insert>

</mapper>