<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.kh.daemoim.signin.mapper.SigninMapper">
<select id="login" resultType="MyPage">
      SELECT 
        MEMBER_NO, 
        MEMBER_Id, 
        MEMBER_PW,
        MEMBER_EMAIL,
        MEMBER_NICKNAME, 
        MEMBER_TEL,
        MEMBER_IM,
        MEMBER_IMG, 
        AUTHORITY,
        TO_CHAR(ENROLL_DATE, 
        'YYYY"년" MM"월" DD"일" HH24"시" MI"분" SS"초"') ENROLL_DATE
   FROM "MEMBER"
   WHERE MEMBER_ID = #{memberId}
   AND   MEMBER_DEL_FL = 'N'
</select>


</mapper>
