<!DOCTYPE html>
<html lang='en' xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset='utf-8' />
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.15/index.global.min.js'></script>
    <script src='https://cdn.jsdelivr.net/npm/@fullcalendar/google-calendar@6.1.15/index.global.min.js'></script>
    <script>

      document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
        let popup = document.querySelector('dialog');
        var calendar = new FullCalendar.Calendar(calendarEl, {
          initialView: 'dayGridMonth',
          googleCalendarApiKey: 'API 주소 들어갈 곳',
          events: {
          googleCalendarId: '구글 캘린더 주소'
          },
          eventClick: function(info) {
            info.jsEvent.preventDefault(); // don't let the browser navigate
            popup.querySelector('#detail').innerHTML =
              `<h3>${info.event.title}</h3>
              <div>${info.event.extendedProps.description}</div>`;
            popup.setAttribute('open','open');
          }
        });
        calendar.render();
        popup.querySelector('button').addEventListener('click', () => {
          popup.removeAttribute('open');
        });
      });

    </script>
    <link rel="stylesheet" href="/css/board/boardCalendar.css">
  </head>
  <body>
     <!-- Header -->
     <div class="header">
      <h1>모임배경사진</h1>
  </div>

    <div id='calendar'></div>
    <dialog>
      <div id="detail">제목 테스트</div>
      <button>닫기</button>
    </dialog>
  </body>
</html>