<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시글 상세 페이지</title>
    <link rel="stylesheet" href="/css/board/boardDetail.css">
    <th:block th:replace="~{common/common}"></th:block>
    <link rel="stylesheet" href="/css/board/comment.css">
    <link rel="stylesheet" href="/css/board/report.css">
</head>
<body>
    <th:block th:replace="~{board/report}"></th:block>
    <div class="header-image">
        <a href="/" th:href="@{/}"> <!-- 메인 페이지로 이동하는 링크 추가 -->
            <img th:with="groupHeaderDefault=#{groupHeader.default.image}"
             th:src="${groupHeaderImg ?: groupHeaderDefault}" alt="모임배경사진">
        </a>
    </div>
    <div class="container">
        <section class="board-detail" th:object="${board}">  
            <!-- 제목 -->
            <h1 class="board-title" th:text="*{boardTitle}">  게시글 제목  </h1>

            <!-- 프로필 + 닉네임 + 작성일 + 조회수 -->
            <div class="board-header">
                <div class="board-writer">

                    <!-- 프로필 이미지 -->
                    <!-- 프로필 이미지가 없을 경우 기본 이미지 출력 -->
                    <img th:unless= "*{memberImg}"
                         th:src="#{user.default.image}">
                    
                    <!-- 프로필 이미지가 있을 경우 출력 (예정)-->
                    <img th:if= "*{memberImg}"
                         th:src="*{memberImg}">


                    <span th:text="*{memberNickname}">작성자 닉네임</span>

                    
                    <!-- 좋아요 하트 -->
                    <span class="like-area">
                        
                        <!-- 좋아요 누른적이 있으면 fa-solid, 없으면 fa-regular 클래스 추가 -->
                        <i class="fa-heart fa-regular" id="boardLike"></i>

                        <!-- 좋아요 개수 -->
                        <span th:text="*{likeCount}">0</span>
                    </span>

                </div>

                <div class="board-info">
                    <p> 
                        <span>작성일</span>
                        <th:block th:text="*{boardWriteDate}"></th:block> 
                    </p>

                    <!-- 수정한 게시글인 경우 -->
                    <p th:if= "*{boardUpdateDate}"> 
                        <span>마지막 수정일</span>
                        <th:block th:text="*{boardUpdateDate}"></th:block>
                    </p>   

                    <p> 
                        <span>조회수</span>
                        <th:block th:text="*{readCount}"></th:block> 
                    </p>                    
                </div>
            </div>



            <!-- ====================== 이미지가 있을 경우 출력하는 구문 (예정) ====================== -->

            <!-- 이미지가 존재하는 경우 -->
            <th:block th:if= "${#lists.size(board.imageList) > 0}">

                <th:block th:if= "*{thumbnail}">
                    <h5>썸네일</h5>
                    <div class="img-box">
                        <div class="boardImg thumbnail">
                            <img th:src="*{thumbnail}"> 

                            <a th:href="*{thumbnail}" 
                               th:download="*{imageList[0].imgOriginalName}">다운로드</a>         
                        </div>
                    </div>
                </th:block>
                
                <!-- 썸네일을 제외한 이미지가 있을 경우 -->
                <th:block th:if= "${#lists.size(board.imageList) > start}">
                    <h5>업로드 이미지</h5>

                    <th:block 
                        th:each="i : ${#numbers.sequence(start, #lists.size(board.imageList) - 1)}">

                        <div class="img-box">
                            <div class="boardImg"
                                th:with= "img=${board.imageList[i]}">
                                <img th:src="|${img.boardImgPath}${img.boardImgRename}|">   
                                <a th:href="|${img.boardImgPath}${img.boardImgRename}|"
                                   th:download="${img.boardImgOriginalName}">다운로드</a>                
                            </div>
                        </div>
                    </th:block>

                </th:block>

            </th:block>

            <!-- ====================== 이미지가 있을 경우 출력하는 구문 (예정) ====================== -->
            
            <!-- 내용 -->
            <div class="board-content"
                 th:text="*{boardContent}">내용</div>

            <!-- 버튼 영역-->
            <div class="board-btn-area">

                <!-- 로그인한 회원과 게시글 작성자 번호가 같은 경우-->
                 <th:block th:if= "${session.loginMember?.memberNo} == ${board.memberNo}">
                     <button id="updateBtn">수정</button>
                     <button id="deleteBtn">삭제</button>
                 </th:block>

                <button id="goToListBtn">목록으로</button>
                <button th:if="${board.boardTypeCode != 1 }" id="reportBtn" th:data-member-no="${board.memberNo}">신고</button>
            </div>

            
            
        </section>
        <!-- 댓글 영역-->
        <th:block th:replace="~{board/comment}"></th:block>
    </div>
    <th:block th:replace="~{common/footer}"></th:block>
</body>


<script th:inline="javascript">
    // 로그인 true, 비회원 false
    const loginCheck = /*[[${session.loginMember != null}]]*/ false;
    // 로그인한 회원 닉네임
    const memberNickname = /*[[${session.loginMember?.memberNickname}]]*/ null;
    // 상세조회한 게시글 정보
    const boardDetail = /*[[${board}]]*/ null;
  </script>

<script src="/js/board/boardDetail.js"></script>
<script src="/js/board/comment.js"></script>
<script src="/js/board/report.js"></script>
</html>

