<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title th:text="${boardName}">게시판 이름</title>

  <th:block th:replace="~{common/common}"></th:block>

  <link rel="stylesheet" th:href="@{/css/board/boardWrite-style.css}">
</head>

<body>
  <main>
    <th:block th:replace="~{common/header}"></th:block>

    <!-- 상대 경로ㄱ -->
    <form action="update" th:object="${board}" method="POST" class="board-write" id="boardUpdateFrm"
      enctype="multipart/form-data">

      <h1 class="board-name" th:text="${boardName}">게시판 이름</h1>

      <!-- 제목 -->
      <h1 class="board-title">
        <input type="text" name="boardTitle" placeholder="제목" th:value="${board.boardTitle}">
      </h1>

      <!-- 내용 -->
      <div class="board-content">
        <textarea name="boardContent" th:text="*{boardContent}">게시글 내용</textarea>
      </div>


      <!-- 버튼 영역 -->
      <div class="board-btn-area">
        <button type="submit" id="writebtn">등록</button>
      </div>

      <!-- 수정 성공 시 주소(쿼리스트링) 유지용도 -->
      <input type="hidden" name="cp" th:value="${param.cp}">
    </form>

  </main>

  <th:block th:replace="~{common/footer}"></th:block>

</body>

</html>