<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>이미지 게시판</title>

  <th:block th:replace="~{common/common}"></th:block>
  <link rel="stylesheet" href="/css/board/imageAlbumDetail.css">
  <link rel="stylesheet" href="/css/board/comment.css">
  <link rel="stylesheet" href="/css/board/report.css">
</head>

<body>
  <main>
    <th:block th:replace="~{board/report}"></th:block>
    <section class="image-detail" th:object="${board}">
      <!-- 제목 -->
      <h1 class="image-title" th:text="*{boardTitle}">게시글 제목</h1>

      <!-- 프로필 + 닉네임 + 작성일 + 조회수 -->
      <div class="image-header">
        <div class="image-writer">
          <!-- 프로필 이미지 -->
          <img th:unless="*{memberImg}" th:src="#{user.default.image}">
          <img th:if="*{memberImg}" th:src="*{memberImg}">

          <span th:text="*{memberNickname}">작성자 닉네임</span>

          <!-- 좋아요 하트 -->
          <span class="like-area">
            <i class="fa-heart" id="boardLike" th:classappend="*{likeCheck == 1} ? fa-solid : fa-regular"></i>
            <span th:text="*{likeCount}">0</span>
          </span>
        </div>

        <div class="image-info">
          <p>
            <span>작성일</span>
            <th:block th:text="*{boardWriteDate}"></th:block>
          </p>

          <p th:if="*{boardUpdateDate}">
            <span>마지막 수정일</span>
            <th:block th:text="*{boardUpdateDate}"></th:block>
          </p>

          <p>
            <span>조회수</span>
            <th:block th:text="*{readCount}"></th:block>
          </p>
        </div>
      </div>

      <!-- 이미지 영역 -->
      <div class="image-content">
        <!-- 이미지가 존재하는 경우 -->
        <th:block th:if="${ #lists.size(board.imageList) > 0 }">
          <div class="image-grid">
            <th:block th:each="img : ${board.imageList}">
              <div class="image-item">
                <img th:src="|${img.boardImgPath}${img.boardImgRename}|" th:alt="${img.boardImgOriginalName}"
                  th:title="${img.boardImgOriginalName}">
                <div class="image-hover">
                  <span class="original-name" th:text="${img.boardImgOriginalName}"></span>
                  <a th:href="|${img.boardImgPath}${img.boardImgRename}|" th:download="${img.boardImgOriginalName}"
                    class="download-btn">
                    <i class="fas fa-download"></i>
                  </a>
                </div>
              </div>
            </th:block>
          </div>
        </th:block>
      </div>

      <!-- 버튼 영역-->
      <div class="btn-area">
        <!-- 로그인한 회원과 게시글 작성자 번호가 같은 경우-->
        <th:block th:if="${session.loginMember?.memberNo} == ${board.memberNo}">
          <button id="updateBtn">수정</button>
          <button id="deleteBtn">삭제</button>
        </th:block>
        <button id="goToListBtn">목록으로</button>
        <button id="reportBtn">신고</button>
      </div>
    </section>

    <!-- 댓글 영역-->
    <!-- 
    <th:block th:replace="~{board/comment}"></th:block> 
     -->
  </main>

  <th:block th:replace="~{common/footer}"></th:block>

  <!-- 이미지 확대 모달 -->
  <div id="imageModal" class="modal">
    <span class="modal-close">&times;</span>
    <img id="modalImage" class="modal-content">
    <div id="modalCaption"></div>
  </div>

  <script th:inline="javascript">
    // 로그인 true, 비회원 false
    const loginCheck = /*[[${session.loginMember != null}]]*/ false;
    // 로그인한 회원 닉네임
    const memberNickname = /*[[${session.loginMember?.memberNickname}]]*/ null;
    // 상세조회한 게시글 정보
    const boardDetail = /*[[${board}]]*/ null;
  </script>

  <script src="/js/board/imageAlbumDetail.js"></script>
  <script src="/js/board/comment.js"></script>
  <script src="/js/board/report.js"></script>
</body>

</html>