<link rel="stylesheet" href="/css/board/report.css">
<section id="popup" class="popup" >
  <div id="overlay" class="overlay"></div>
  <form th:object="${board}"
        method="POST"
        id= formTag>
    <span id="closeReportBtn" class="close">✖</span>

    <h2>신고하기</h2>
    <p th:text="*{boardTitle}" style="font-size: small;">신고당한 글</p>

    <label for="reportReason">신고 사유:</label>

    <select id="reportReason">
      <option value="null">사유를 선택해주세요</option>
      <option value="욕설 또는 부적절한 언행">욕설 또는 부적절한 언행</option>
      <option value="사이버범죄 및 범행예고">사이버범죄 및 범행예고</option>
      <option value="도배">도배</option>
      <option value="악의적이거나 타인을 괴롭히는 내용">악의적이거나 타인을 괴롭히는 내용</option>
      <option value="불쾌한거나 부적절한 이름">불쾌한거나 부적절한 이름</option>
      <option value="기타">기타</option>
    </select>
    <small id="reasonError" class="error-message"></small>

    <br><br>

    <label for="reportDetails">신고 내용:</label>
    <textarea id="reportDetails" maxlength="280"></textarea>
    <small id="detailsError" class="error-message"></small>

    <br><br>

    <button id="submitReport">신고하기</button>
  </form>
    <!--/board/{groupCode}/{boardTypeCode}/report -->
  <script>
    const formTag = document.querySelector("#formTag");
    formTag.addEventListener("submit", e => {
      e.preventDefault();
      const url = location.pathname + "/report";
      formTag.action = url;
      formTag.submit();
    })
  </script>

  <script src="/js/board/report.js"></script>
</section>