<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>아이디 / 비밀번호 찾기</title>
    <link rel="stylesheet" href="css/findIdPw/findId.css">
</head>
<body>
<div>
<h1 class="searchTitle">아이디 찾기</h1>
<form action="searchIdFrom" method="POST" name="seachIdInput" id="searchIdInput">
        <section id="searchIdSection" name="searchIdSection">
            <h3 class="searchIdTitle">아이디 찾기</h3>
            <!-- 아이디 찾기  -->
            <form action="searchId" method="POST" name="searchId">
              <div class="idSearch">
                    <label for="memberEmail">
                        <span class="required">*</span>이메일
                      </label>
                      <div class="searchId-input-area">
                        <input type="text" name="findIdmemberEmail" id="findIdmemberEmail" 
                        placeholder="아이디(이메일)" maxlength="30" autocomplete="off">
                        <button id="sendFindIdAuthKeyBtn" type="button">인증번호 받기</button>
                    </div>
                    <label for="emailCheck"> 
                    <span class="findId-message" id="findIdemailMessage">이메일을 입력해주세요.</span>
                     </label>
                    <br>
                   <div class="checkIdAuthKeyBtn">
                       <input type="text" name="AuthKey" id="authKey" placeholder="인증번호 입력" maxlength="6" autocomplete="off">
                       <button id="checkIdAuthKeyBtn" type="button">인증하기</button>
                          <span class="FindId-message" id="authKeyMessage"></span>
                   </div>
              </div>
            </form>
        </section>

      </form>
      
</div>
<script src="/js/findIdPw/findId.js"></script>
</body>
</html>