<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>아이디 찾기</title>
  <link rel="stylesheet" href="/css/findIdPw/memberIdPage.css">
</head>
<body>
  
<div class="deisign">
  <h1>아이디 찾기 페이지 입니다</h1>
  <div class="findId">
    
<section class="border">
    
          <p>회원님의 ID는: <span th:text="${memberId}"></span>입니다.</p>
</section>
                <label for="gologin">
               <button>   <a href="/signin">로그인</a></button>
                </label>
  </div>
</div>
</body>
</html>