<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>관리자 대시보드</title>
    <th:block th:replace="~{common/common}"></th:block>
    <link rel="stylesheet" href="/css/siteManage/siteManage.css">
</head>

<body>
    <div class="container">
        <nav class="sidebar">
            <ul>
                <li><a href="#dashboard">대시보드</a></li>
                <li><a href="#meetings">모임 조회</a></li>
                <li><a href="#members">회원 조회</a></li>
                <li><a href="#report">신고 목록</a></li>
                <li><a href="#suspend">계정 정지 및 탈퇴</a></li>
                <li><a href="/popup/manage">팝업창 관리</a></li>
            </ul>
        </nav>

        <main class="content">
            <!-- 대시보드 -->
            <section id="dashboard" class="section">
                <h2>대시보드</h2>
                <div class="card">
                    <table border="1">
                        <tr>
                            <td>총 모임 수</td>
                            <td th:text="${countList.groupAllcount}">총모임수</td>
                        </tr>
                        <tr>
                            <td>총 회원 수</td>
                            <td th:text="${countList.memberAllcount}">총회원수</td>
                        </tr>
                        <tr>
                            <td>정지된 계정</td>
                            <td th:text="${countList.outMemberCount}">정지된계정</td>
                        </tr>
                        <tr>
                            <td>오늘의 새 가입</td>
                            <td th:text="${countList.todayEnrollCount}">오늘의새가입</td>
                        </tr>
                    </table>
                </div>
            </section>

            <!-- 모임 조회 -->
            <section id="meetings" class="section">
                <h2>모임 조회</h2>
                <table>
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>모임명</th>
                            <th>주최자</th>
                            <th>참가자 수</th>
                            <th>생성일</th>
                        </tr>
                    </thead>
                    <tbody>
                        <th:block th:if="${groupList}" th:each="group:${groupList}" th:object="${group}">
                            <tr>
                                <td th:text="*{groupNo}">#</td>
                                <td th:text="*{groupName}">모임명</td>
                                <td th:text="*{memberNickname}">주최자</td>
                                <td th:text="*{memberCount}">참가자 수</td>
                                <td th:text="*{groupDate}">생성일</td>
                            </tr>
                        </th:block>
                        <th:block th:unless="${groupList}">
                            <tr>
                                <th>#</th>
                                <th>모임명</th>
                                <th>주최자</th>
                                <th>참가자 수</th>
                                <th>생성일</th>
                            </tr>
                        </th:block>
                    </tbody>
                </table>
            </section>

            <!-- 회원 조회 -->
            <section id="members" class="section">
                <h2>회원 조회</h2>
                <table>
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>이름</th>
                            <th>이메일</th>
                            <th>가입일</th>
                            <th>상태</th>
                        </tr>
                    </thead>
                    <tbody>
                        <th:block th:if="${memberList}" th:each="member:${memberList}" th:object="${member}">
                            <tr>
                                <th th:text="*{memberNo}">#</th>
                                <th th:text="*{memberNickname}">이름</th>
                                <th th:text="*{memberEmail}">이메일</th>
                                <th th:text="*{enrollDate}">가입일</th>
                                <th th:text="*{memberDelFl} == 'N' ? '가입' : '탈퇴'">상태</th>
                            </tr>
                        </th:block>
                        <th:block th:unless="${memberList}">
                            <tr>
                                <th>#</th>
                                <th>이름</th>
                                <th>이메일</th>
                                <th>가입일</th>
                                <th>상태</th>
                            </tr>
                        </th:block>
                    </tbody>
                </table>
            </section>

            <!-- 신고 목록 -->
            <section id="report" class="section">
                <h2>신고 목록</h2>
                <table>
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>신고분류</th>
                            <th>신고내용</th>
                            <th>신고날짜</th>
                            <th>신고 받은 계정 이메일</th>
                            <th>신고조회 여부</th>

                        </tr>
                    </thead>
                    <tbody>
                    <tbody>
                        <th:block th:if="${reportList}" th:each="report, iterStat : ${reportList}"
                            th:object="${report}">
                            <tr>
                                <!-- iterStat.index + 1을 통해 1부터 시작하는 순번을 표시 -->
                                <th th:text="${iterStat.index + 1}">#</th>
                                <th
                                    th:text="*{reportNo} == 1 ? '댓글' : (*{reportNo} == 2 ? '게시글' : (*{reportNo} == 3 ? '기타' : ''))">
                                    신고분류</th>
                                <th th:text="*{reportDetail}" onclick="showReportDetailModal([[${report.reportNo}]])">
                                    신고내용</th>
                                <th th:text="*{reportDate}">신고날짜</th>
                                <th th:text="*{memberEmail}">신고 받은 계정 이메일</th>
                                <th th:text="*{reportView} == 'N' ? '조회X' : '조회O'" class="report-view-status">신고조회 여부
                                </th>
                            </tr>
                        </th:block>

                        <th:block th:unless="${reportList}">
                            <tr>
                                <th>#</th>
                                <th>신고분류</th>
                                <th>신고내용</th>
                                <th>신고날짜</th>
                                <th>신고조회 여부</th>
                            </tr>
                        </th:block>

                    </tbody>
                </table>
            </section>

            <!-- 계정 정지 -->
            <section id="suspend" class="section">
                <h2>계정 정지</h2>
                <form action="/siteManage/suspend" id="suspendForm" method="post">
                    <label for="email">이메일</label>
                    <input type="email" name="email" id="email" placeholder="이메일을 입력하세요">

                    <label for="days">정지 기간 (일)</label>
                    <input type="number" name="days" id="days" placeholder="정지 기간 입력">

                    <label for="reason">정지 사유</label>
                    <textarea name="reason" id="reason" placeholder="정지 사유 입력"></textarea>

                    <button type="submit">계정 정지</button>
                </form>

            
               
            </section>

            <!-- 계정 탈퇴 -->
            <section id="withdrawal" class="section">
                <h2>계정 탈퇴</h2>
                <form action="/siteManage/resign" id="resignForm" method="post">
                    <label for="email">이메일</label>
                    <input type="email" name="email" id="email2" placeholder="이메일을 입력하세요">

                    <label for="reason">탈퇴 사유</label>
                    <textarea name="reason" id="reason2" placeholder="탈퇴 사유 입력"></textarea>

                    <button type="submit">계정 탈퇴</button>
                </form>

               
            </section>


        </main>
    </div>
    <script src="/js/siteManage/siteManage.js"></script>
</body>

</html>