<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>모임 생성</title>

  <link rel="stylesheet" href="/css/groupManage/createGroup.css">

</head>
<body>
  
  <!-- 해더 -->
  <th:block th:replace= "~{common/header}" ></th:block>



  <main>

    <!-- 생성할 모임 정보 입력 -->
    <section class="mainSec">
      <h1>모임 만들기</h1>
      <th:block th:if= "${session.loginMember}"><h5>내가 보인다면 로그인 되있는겁니다</h5></th:block>

      <form action="/groupManage/createGroup" method="POST" id="submitGroupCreate" enctype="multipart/form-data">
        
        <label for="groupName">
          <i class="fa-solid fa-gear" style="color: #ff0000;"></i>
          모임 이름
        </label>
        <section class="createContent">
          <!-- ********** 모임 이름 ********** -->
          <input type="text" name="groupName" id="groupName" placeholder="모임 이름">
          <br>
          <div>
            <span id="groupNameMessage">500byte 이내의 이름을 입력해주세요</span>
          </div>
        </section>
        
        <label for="groupIntroduce">
          <i class="fa-solid fa-gear" style="color: #ff0000;"></i>
          모임 소개
        </label>
        <section class="createContent">
          <!-- ********** 모임 소개 ********** -->
          <textarea type="text" cols="50" rows="5" name="groupIntroduce" id="groupIntroduce" placeholder="모임 소개 글"></textarea>
          <br>
          <div>
            <span id="groupIntroduceMessage">4000byte 이내의 소개를 입력해주세요</span>
          </div>
        </section>

        <div class="title">
          <i class="fa-solid fa-gear"></i>
          모임 대표 이미지
        </div>
        <section class="createContent">
          <!-- ********** 모임 이미지 ********** -->
  
          <section id="imageSec">
  
            <section id="imageSec-left">
              <img th:src="#{groupMain.default.image}" alt="이미지표시 없음" id="inputImg">
            </section>
  
            <section id="imageSec-right">
              <label class="hoverPoint" for="imgInput">
                이미지 선택
              </label>
              <!-- 선택취소버튼, 모임이미자가 필수라면 삭제 -->
              <div class="hoverPoint divInline" id="deleteImg">선택 취소</div>
              <br>
              <input type="file" name="groupImg" id="imgInput" accept="image/*" style="display: none;">
              <div id="imgName">선택된 이미지 파일명.jpg</div>
  
            </section>
          </section>
        </section>
        
        <div class="divInline title">
          <i class="fa-solid fa-gear" style="color: #ff0000;"></i>
          카테고리 선택
        </div>
        <section class="createContent">
          <!-- ********** 모임 카테고리 ********** -->
          <section>
            <!-- 페이지 로딩시 카테고리 목록 받아오기 -->
            <div>큰 카테고리</div>
            <div class="categoryListView">
              <th:block th:each="category : ${categoryArr}" th:object="${category}">
                  <div>
                    
                    <input type="radio"
                          class="categoryRadio"
                          th:id= "*{categoryNo}"
                          name="categoryNo"
                          th:value="*{categoryNo}">

                    <label class="categoryLabel" th:for= "*{categoryNo}" th:text="*{categoryName}"></label>

                  </div>
                </th:block>
            </div>
            <!-- 첫 카테고리 선택시 하위 카테고리 리스트 받아오기 -->
            <div class="categoryText"></div>
            <div class="CategoryListTr"></div>
          </section>
        </section>


        <!-- ********** 모임 참여제한기능 ********** -->

        <!-- <label for="limitAge">나이제한</label>
        <input type="checkbox" id="limit-age">
        <section class="display-none" id="limit-ageSec">
          <input type="number" name="floorAge">
          <span id="floorAgeText" class="grey">세 이상</span>
          <br>
          <input type="number" name="roofAge">
          <span id="roofAgeText" class="grey">세 이하</span>
          <div id="limit-ageMessage">최소나이와 최대나이 중 필요한 나이를 입력 하세요</div>
        </section>

        <br>
        <label for="limitGender">성별</label>
        <input type="checkbox" id="limit-gender">
        <section class="display-none" id="limit-genderSec">
          <label for="gender-m">모두</label>
          <input type="radio" name="gender" id="gender-all" value="0" checked>
          <br>
          <label for="gender-m">남성만</label>
          <input type="radio" name="gender" id="gender-m" value="1">
          <br>
          <label for="gender-w">여성만</label>
          <input type="radio" name="gender" id="gender-w" value="2">
        </section>
        
        <hr> -->
        <!-- 완료 버튼 -->
        <i class="fa-solid fa-gear" style="color: #ff0000;"></i>
        <div class="divInline">: 필수입력정보입니다.</div>
        
        <div id="btnDiv">
          <button>생성하기</button>
          <button type="button" id="comeback">돌아가기</button>
        </div>
      </form>
      

    </section>

  </main>

  <!-- 푸터 -->
  <th:block th:replace= "~{common/footer}" ></th:block>
  <th:block th:replace= "~{common/common}" ></th:block>

  <script th:inline="javascript">
    // 기본이미지 호출용, 모임 이미지가 필수라면 삭제
    const groupDefaultImage = /*[[#{group.default.image}]]*/ "모임 기본 이미지";
  </script>

  <script src="/js/groupManage/createGroup.js"></script>
  <script src="https://kit.fontawesome.com/8695e357e4.js" crossorigin="anonymous"></script>
</body>
</html>