<!-- 
페이지 로딩시 받아와야 할 정보

1. 비로그인 회원 리턴 => java에서  처리
2. 카테고리 목록
3. 페이지 로딩시 카테고리 리스트 받아오기
-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>상세정보 수정</title>

  <link rel="stylesheet" href="/css/groupManage/createGroup.css">

</head>
<body>
  
  <header>해더 들어갈 자리</header>

  <main>

    <!-- 
    [필요한 기능]

    ** 수정할 내용들
    - 모임명
    - 모임소개
    - 대표사진
    - 상단사진
    - 활동사진
    - 공지사항
    - 게시판
    - 댓글
    - 알림
    
    -->
    <section class="mainSec">

      <form action="/groupManage/createGroup" method="POST" id="submitGroupCreate" enctype="multipart/form-data">
        
        <label for="groupName">
          <i class="fa-solid fa-gear" style="color: #ff0000;"></i>
          모임 이름
        </label>
        <section class="createContent">
          <!-- ********** 모임 이름 ********** -->
          <input type="text" name="groupName" id="groupName" placeholder="모임 이름">
          <br>
          <div>
            <span id="groupNameMessage">500byte 이내의 이름을 입력해주세요</span>
          </div>
        </section>
        
        <label for="groupIntroduce">
          <i class="fa-solid fa-gear" style="color: #ff0000;"></i>
          모임 소개
        </label>
        <section class="createContent">
          <!-- ********** 모임 소개 ********** -->
          <textarea type="text" cols="50" rows="5" name="groupIntroduce" id="groupIntroduce" placeholder="모임 소개 글"></textarea>
          <br>
          <div>
            <span id="groupIntroduceMessage">4000byte 이내의 소개를 입력해주세요</span>
          </div>
        </section>

        <div class="title">
          <i class="fa-solid fa-gear"></i>
          모임 대표 이미지
        </div>
        <section class="createContent">
          <!-- ********** 모임 이미지 ********** -->
  
          <section id="imageSec">
  
            <section id="imageSec-left">
              <img th:src="#{group.default.image}" alt="이미지표시 없음" id="inputImg">
            </section>
  
            <section id="imageSec-right">
              <label class="hoverPoint" for="imgInput">
                이미지 선택
              </label>
              <!-- 선택취소버튼, 모임이미자가 필수라면 삭제 -->
              <div class="hoverPoint divInline" id="deleteImg">선택 취소</div>
              <br>
              <input type="file" name="groupImg" id="imgInput" accept="image/*" style="display: none;">
              <div id="imgName">선택된 이미지 파일명.jpg</div>
  
            </section>
          </section>
        </section>
        
        <div class="divInline title">
          <i class="fa-solid fa-gear" style="color: #ff0000;"></i>
          카테고리 선택
        </div>
        <section class="createContent">
          <!-- ********** 모임 카테고리 ********** -->
          <section>
            <!-- 페이지 로딩시 카테고리 목록 받아오기 -->
            <div>
              <th:block th:each="category : ${categoryArr}" th:object="${category}">
                <label th:for= "*{categoryNo}" th:text="*{categoryName}"></label>
                <input type="radio" th:id= "*{categoryNo}" name="categoryNo" th:value="*{categoryNo}">
              </th:block>
            </div>
            <!-- 첫 카테고리 선택시 하위 카테고리 리스트 받아오기 -->
            <div id="categoryListView"></div>
          </section>
        </section>


        <!-- 완료 버튼 -->
        <i class="fa-solid fa-gear" style="color: #ff0000;"></i>
        <div class="divInline">: 필수입력정보입니다.</div>
        
        <div id="btnDiv">
          <button>생성하기</button>
          <button type="button" id="comeback">돌아가기</button>
        </div>
      </form>
      

    </section>

  </main>

  <footer>푸터 들어갈 자리</footer>

  <script th:inline="javascript">
    // 기본이미지 호출용, 모임 이미지가 필수라면 삭제
    const groupDefaultImage = /*[[#{group.default.image}]]*/ "모임 기본 이미지";
  </script>

  <script src="/js/groupManage/manageGroup.js"></script>
  <script src="https://kit.fontawesome.com/8695e357e4.js" crossorigin="anonymous"></script>
</body>
</html>