/* Font */
@font-face {
  font-family: 'PartialSansKR-Regular';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-1@1.1/PartialSansKR-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NEXON Lv1 Gothic OTF';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* Reset */
* {
  border: 0;
}

html, body {
  height: 100%;
  overflow-x: hidden; /* 가로 스크롤 제거 */
}

/************ 헤더 css ************/
.header {
  width: 100%;
  background-color: #fdf5f5;
  padding: 10px 20px;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  height: 220px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.logo {
  font-family: 'PartialSansKR-Regular';
  text-decoration: none;
  color: #fc9562;
  font-size: 80px;
  margin-right: auto;
  width: 150px; 
  height: 150px;
  white-space: nowrap;
  overflow: hidden; 
  overflow: hidden;
  text-overflow: ellipsis;
  flex-shrink: 0;
}

.logo img {
  width: 100%; /* 이미지가 부모 요소에 맞춰 자동 조정 */
  height: auto; /* 이미지 비율 유지 */
  object-fit: contain; 
}

.top-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 10px;
  flex-wrap: nowrap;
  overflow: hidden;
}

.login-search-wrapper,
.notification-container {
  display: flex;
  align-items: center;
  gap: 20px;
  white-space: nowrap;
  overflow: hidden;
  flex-shrink: 0;
}

.headerSearchBtn, .headerLoginBtn {
  font-size: 16px;
  text-decoration: none;
  color: black;
}

.headerSearchBtn {
  font-size: 20px;
  display: flex;
  align-items: center;
}

.headerLoginBtn {
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 15px;
} 

.headerSearchBtn,
.headerLoginBtn,
.notification-btn {
  font-size: 16px;
  padding: 5px 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex-shrink: 0;
}

.notification-container {
  position: relative;
  z-index: 1100;
} 
.loginBtnBox {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 30px;
  flex-shrink: 0;
}

.login button {
  padding: 10px 20px;
  font-size: 14px;
  border-radius: 10px;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* 카테고리 버튼 */
.bottom-row {
  width: 100%;
  margin-top: 10px;
  overflow: hidden;
}

.categories {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
  overflow: hidden;
  flex-wrap: nowrap;
}

.categories a {
  padding: 10px 20px;
  border-radius: 10px;
  text-decoration: none;
  color: black;
  font-size: 16px;
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis; 
  flex-shrink: 0;
}





/************ 알림 css ************/
header > section:nth-child(3) {
  position: relative;
}

.notification-container {
  position: relative;
  z-index: 1100; 
  margin-right: 15px; 
}

.notification-btn {
  font-size: 20px;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 1);
  border: none;
  z-index: 1100; 
}

.notification-btn.fa-solid {
  color: black;
}

.notification-count-area {
  position: absolute;
  bottom: -6px;
  right: -10px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  font-size: 9px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
  color: white;
}

.notification-list {
  position: absolute;
  top: 30px;
  left: 50%; /* 알림 버튼 기준으로 설정 */
  transform: translateX(-100%); /* 왼쪽으로 창이 열리도록 조정 */
  width: 380px;
  height: 400px;
  padding: 10px;
  list-style: none;
  z-index: 1200;
  background: #f0f3fa;
  overflow-y: auto;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 0 1px #eee, 0 4px 8px 0 rgba(0, 0, 0, .3);
  display: none;
}


.notification-show {
  display: block !important;
}

.notification-item {
  background-color: white;
  margin: 10px 0; 
  padding: 8px; 
  border-radius: 5px;
  width: 100%;
  height: auto; 
  font-size: 14px;
  letter-spacing: -0.5px; 
  position: relative;
}

.not-read {
  background-color: rgba(176, 208, 238, 0.7)
}

.read {
  background-color: rgba(238, 238, 238, 0.5);
}

.notification-text {
  display: flex;
  width: 100%;
  height: 100%;
  gap: 10px; 
  cursor: pointer;
  align-items: center;
  cursor: pointer;
}

.notification-text > img {
  width: 50px;
  height: 50px;
  margin: 5px;
  flex-shrink: 0;
}

.notification-content-container {
  height: 90%;
}

.notification-date {
  font-size: 12px;
  color: gray;
}

.notification-content {
  width: auto; /* 너비 자동 조정 */
  font-size: 13px; /* 글자 크기 줄이기 */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.notification-delete {
  position: absolute;
  top: -5px;
  right: 2px;
  user-select: none;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
}

.notification-delete:hover {
  color: red;
}

.notification-item:hover > .notification-text {
  text-decoration: underline;
}

/************ 메인 컨텐츠 css ************/
body {
  display: flex;
  flex-direction: column;
  min-height: 99vh;
}

.main {
  font-family: 'NEXON Lv1 Gothic OTF';
  padding-top: 200px;
  padding-bottom: 60px;
  flex-grow: 1;
}

.centered-title {
  text-align: center;
  margin: 20px 0;
  
}


.category-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.category-box {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 15px;
  width: 300px;
  /* height: 160px;
  margin-bottom: 20px; */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;
  overflow: hidden;
  /* display: flex;
  padding: 15px;
  align-items: center; */
}

.category-box:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.icon {
  width: 100%;
  height: 300px; /* 높이를 늘려서 이미지를 더 크게 표시 */
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box; 
  overflow: hidden;
  position: relative;
}

.icon img {
  width: 100%; /* 부모 요소 너비에 맞게 설정 */
  height: 100%; /* 높이를 자동으로 설정하여 비율 유지 */
  object-fit: cover; /* 이미지가 영역을 꽉 채우도록 설정 */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* 이미지 중앙 정렬 */
}

.details {
  padding: 20px;
}

.location {
  font-size: 14px;
  color: #777;
  margin-bottom: 10px;
}

.categoryGroup-name {
  font-size: 18px;
  font-weight: bold;
  color: #212121;
  margin-bottom: 10px;
}

.group-name {
  font-size: 16px;
  margin-bottom: 5px;
  display: -webkit-box;
  -webkit-line-clamp: 3; 
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  
}

.participants {
  display: flex;
  align-items: center;
}



/************ 로그인 섹션 css ************/

.login-section {
  text-align: center;
}

.login-box {
  width: 450px;
  margin: 0 auto;
}

.login-box button {
  width: 100%;
  font-size: 16px;
}


.login-box article {
  display: flex;
  justify-content: space-around;
}

.mainLoginButton,
.pwjoin a {
  width: 400px;
  height: 125px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 16px;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  margin: 0px;
}
.mainLoginButton{
  margin-top: 30px;
}

.pwjoin {
  display: flex;
  align-items: center; /* 버튼을 중앙 정렬 */
}

/************ 팝업창 css ************/
.popup-view, .popup-view * {
  box-sizing: border-box;
}

.popup-view {
  width: 302px;
  height: 302px;
  border: 1px solid rgb(0, 0, 0, 0.8);
  position: absolute;
  top: 20vw;
  left: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.popup-view > .absoluteDiv {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 101;
}

.popup-underbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 32px;
  padding: 3px;
  background-color: rgb(0, 0, 0, 0.8);
  color: white;
  z-index: 102;
}

.display-non {
  display: none !important;
}

/************ 위로가기 버튼 css ************/
.scroll-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
}

.scroll-top button {
  font-size: 30px;
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
  color: black;
}

/************ 푸터 css ************/
footer {
  width: 100%;
  text-align: center;
  padding: 10px;
  bottom: 0;
  left: 0;
  height: 50px;
  z-index: 10;
}

footer nav a {
  text-decoration: none;
  color: black;
  margin-right: 10px;
}

