<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>카테고리</title>
    <link rel="stylesheet" href="/css/main-style.css">
    <link rel="stylesheet" href="/css/category/category.css">
    <th:block th:replace="~{common/common}"></th:block>
    <script src="/js/category/category.js" defer></script> 

</head>

<body>
    <th:block th:replace="~{common/header}"></th:block>

    <section class="search-section">
        <form action="#" method="get" id="search">
            <div class="input-wrapper">
                <input type="text" name="query" id="searchQuery" placeholder="검색어 입력">
            </div>
        </form>
    </section>

    <section class="categorySearch">
        <div id="groupContainer"></div>
    </section>
    <section class="scroll-top">
        <button id="scrollTopBtn"><i class="fa-solid fa-circle-chevron-up"></i></button>
    </section>
    <script>
        document.getElementById('scrollTopBtn').addEventListener('click', () => {
            window.scrollTo({
            top: 0,
            behavior: 'smooth'
  });
});
    </script>
    <footer>
        <th:block th:replace="~{common/footer}"></th:block>
    </footer>
</body>
</html>
