<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Culture - 문화/여가</title>
    
    <!-- 메인 스타일 시트 및 카테고리 스타일 시트 불러오기 -->
    <link rel="stylesheet" href="/css/category/category.css">
    <link rel="stylesheet" href="/css/main-style.css">

    <!-- 공통 블록 불러오기 -->
    <th:block th:replace="~{common/common}"></th:block>
</head>
<body class="category">
    <!-- 공통 헤더 포함 -->
    <th:block th:replace="~{common/header}"></th:block>
    
    <!-- 문화/여가 페이지 메인 컨텐츠 -->
    <section class="culture-section">
        <h1>&nbsp;&nbsp;<i class="fa-solid fa-star"></i>&nbsp;&nbsp;문화/여가</h1>
        <div class="category-container">
            <div class="category-box">
                <div class="icon">
                    <img src="#" alt="영화 아이콘">
                </div>
                <div class="details">
                    <a href="#" class="culture-name">영화</a>
                    <div class="group-name">영화 모임</div>
                    <div class="location">장소: 서울시 마포구</div>
                    <div class="participants">
                        <div class="participant-img"></div>
                        <div class="participant-img"></div>
                        <div class="participant-img"></div>
                        <i class="fa-solid fa-users"> &nbsp;</i>
                        
                        <div>
                            3 <!-- 참여인원 -->
                            / 10 <!-- 제한 인원 -->
                        </div> 
                    </div>
                </div>
            </div>

            <div class="category-box">
                <div class="icon">
                    <img src="#" alt="독서 아이콘">
                </div>
                <div class="details">
                    <a href="#" class="culture-name">독서</a>
                    <div class="group-name">독서 모임</div>
                    <div class="location">장소: 서울시 강남구</div>
                    <div class="participants">
                        <div class="participant-img"></div>
                        <div class="participant-img"></div>
                        <div class="participant-img"></div>
                        <i class="fa-solid fa-users"> &nbsp;</i>
                        
                        <div>
                            5 <!-- 참여인원 -->
                            / 15 <!-- 제한 인원 -->
                        </div> 
                    </div>
                </div>
            </div>

            <div class="category-box">
                <div class="icon">
                    <img src="#" alt="명상 아이콘">
                </div>
                <div class="details">
                    <a href="#" class="culture-name">명상</a>
                    <div class="group-name">클라이밍 모임</div>
                    <div class="location">장소: 서울시 송파구</div>
                    <div class="participants">
                        <div class="participant-img"></div>
                        <div class="participant-img"></div>
                        <div class="participant-img"></div>
                        <i class="fa-solid fa-users"> &nbsp;</i>
                        
                        <div>
                            4 <!-- 참여인원 -->
                            / 12 <!-- 제한 인원 -->
                        </div> 
                    </div>
                </div>
            </div>

            <div class="category-box">
                <div class="icon">
                    <img src="#" alt="음악 아이콘">
                </div>
                <div class="details">
                    <a href="#" class="culture-name">음악감상</a>
                    <div class="group-name">음악감상 모임</div>
                    <div class="location">장소: 서울시 영등포구</div>
                    <div class="participants">
                        <div class="participant-img"></div>
                        <div class="participant-img"></div>
                        <div class="participant-img"></div>
                        <i class="fa-solid fa-users"> &nbsp;</i>
                        
                        <div>
                            6 <!-- 참여인원 -->
                            / 20 <!-- 제한 인원 -->
                        </div> 
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- 공통 푸터 포함 -->
    <th:block th:replace="~{common/footer}"></th:block>

</body>
</html>
