.category-content {
  position: absolute;
  width: 100%;
  top: 0;
  left: 100%; 
  z-index: 10;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out; /* opacity와 transform 전환 */
}

.category-content.active {
  visibility: visible;
  margin-top: 200px; 
  opacity: 1;
  left: 0;
  transform: translateX(0);
}

.category-content.slide-in {
  transform: translateX(0); 
  left: 0;
  visibility: visible;
  opacity: 1;
}

.category-content.slide-out {
  transform: translateX(-100%); 
  opacity: 0; 
}
