*{
  box-sizing: border-box;
}
main{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.red{color: red;}
.green{color: green;}
.grey{color: grey;}
.display-none{display: none !important;}

/* 버튼 */
.hoverPoint{
  font-size: 0.8em;
  padding: 5px;
  text-align: center;
  border: 1px solid #989898;
  border-radius: 3px;
  background-color: rgb(243, 243, 243);
}
.hoverPoint:hover{
  cursor: pointer;
  border: 1px solid black;
  background-color: #989898;
  border-radius: 4px;
}

/* main */
main{
  margin: 180px 0 0;
}
.mainSec{
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  width: 600px;

  font-family: 'Pretendard-Regular';
}
.mainSec > h1{
  margin: 15px 0 20px 0;
  font-family: 'MinSans-Regular';
  font-weight: 700;
}
.mainSec > form {
  width: 100%;
}
#submitGroupCreate > label, .title{
  margin: 50px 0 20px 0;
  font-family: 'AssacomFreeGothicTTF-Regular';
  font-size: 18px;
}
.divInline{
  display: inline;
  margin: 5px;
}
.createContent{
  width: 580px;
  border-radius: 5px;
  padding: 30px;
  margin: 10px;
  background-color: #f0f0f0;
}
#btnDiv>button{
  width: 150px;
  height: 50px;
}
#btnDiv{
  margin: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}


/* 대표이미지 */
#imageSec{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
#imageSec div{
  margin: 10px;
}
#inputImg{
  max-width: 295px;
  max-height: 295px;
}
#imgName{
  text-align: right;
}

/* 카테고리 리스트 표시 */
.categoryListRadio, .categoryRadio{
  display: none;
}
.CategoryListTr, .categoryListView{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.createContent > section .categoryLabel{
  width: 110px;
  height: 40px;
  margin: 5px 10px 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  border: 1px solid #989898;
  border-radius: 3px;
  background-color: #fff;
}
.createContent > section > div > div > .categoryLabel:hover{
  background-color: #dddddd;
  cursor: pointer;
}
input[type="radio"]:checked + label { /* 라벨이 꼭 뒤에잇어야함 */
  border: 3px solid #333; /* 선택된 상태에서 테두리 */
  background-color: #f1f1f1;
}
/* *************************************************** */
@font-face {
  font-family: 'MinSans-Regular';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/MinSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'AssacomFreeGothicTTF-Regular';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2410-1@1.0/AssacomFreeGothicTTF-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}